In [3]:
import pandas as pd
df = pd.read_csv('data.csv')
# print(df.head()) ## first 5 only print
# print(df.info())  ## about csv file
# print(df.describe())  ## acout statiscal info

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ID           50000 non-null  int64
 1   Name         50000 non-null  object
 2   Age          50000 non-null  int64
 3   City         50000 non-null  object
 4   Salary       50000 non-null  int64
 5   Department   50000 non-null  object
 6   JoiningDate  50000 non-null  object
dtypes: int64(3), object(4)
memory usage: 2.7+ MB
None
                 ID           Age         Salary
count  50000.000000  50000.000000   50000.000000
mean   25000.500000     40.432800  115426.790600
std    14433.901067     11.578344   48985.145943
min        1.000000     21.000000   30004.000000
25%    12500.750000     30.000000   72819.750000
50%    25000.500000     40.000000  115915.000000
75%    37500.250000     50.000000  158025.250000
max    50000.000000     60.000000  199997.000000

## Check is null or not

In [8]:
df.isnull ## check
df.isnull().sum() ## check null if null it is 0
df.dtypes
df.fillna(56) # which place are null it replace 56
df.rename(columns={"name":"oombu"}) ## to rename
df['Age'].unique() # to get unique values

array([51, 49, 23, 52, 36, 41, 55, 28, 37, 57, 43, 31, 35, 38, 48, 40, 29,
       50, 21, 54, 46, 56, 47, 33, 27, 58, 30, 26, 59, 44, 34, 45, 22, 24,
       42, 39, 32, 60, 25, 53])